@import 'jeet'
@import 'rupture'
@import 'mixins/*'

html
	height 100%
	box-sizing  border-box
::selection
	background-color black
	color yellow
*
	box-sizing inherit
*:focus
	outline none
body
	margin 0
	overflow-y scroll
	position relative
	min-height 100%
	padding-bottom 150px
	font-family 'Menco', sans-serif
	background-color white
	font-size 16px
	settings()
	helpers()
	a
		link()
		&.btn
			btn(true)
	header
		header()
	section
		h2
			text-transform uppercase
			text-align center
			font-size 36px
			top-margin(80px)
			margin-bottom 80px