section#featured {
  height: 100vh;
  overflow: hidden;
  background-image: url("img/bg_enh.jpg");
  background-position: center;
  background-repeat-x: no-repeat;
}
section#featured .turtle {
  height: 25vh;
  margin-top: 25vh;
  margin-bottom: 25vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#featured .turtle h1 {
  font-size: 48px;
  margin-top: 20px;
}
section#featured .turtle img {
  width: 50%;
}
section#featured .troopLinks a.troop {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  height: 100px;
  line-height: 100px;
  border-radius: 50px;
  position: relative;
  font-size: 64px;
  color: #fffa02;
  text-decoration: none;
  color: inherit;
  color: inherit;
}
section#featured .troopLinks a.troop::after {
  content: '';
  display: table;
  clear: both;
}
section#featured .troopLinks a.troop:last-child {
  margin-right: 0%;
}
section#featured .troopLinks a.troop span {
  display: inline-block;
  background-color: #fffa02;
  padding-left: 140px;
  padding-right: 50px;
  border-radius: 50px;
  max-height: 100px;
  line-height: 110px;
  text-align: center;
  width: 450px;
  color: #151515;
  position: relative;
}
section#featured .troopLinks a.troop:hover span {
  background-color: #151515;
  color: #fffa02;
}
section#featured .troopLinks a.troop img {
  max-height: 150px;
  position: absolute;
  left: -25px;
  top: -25px;
  z-index: 2;
}
section#featured .troopLinks a.troop:last-child span {
  display: inline-block;
  padding-right: 140px;
  padding-left: 50px;
  float: right;
}
section#featured .troopLinks a.troop:last-child img {
  left: auto;
  right: -25px;
}
section#about .aboutBox {
  background-image: url("img/about.jpg");
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background-position: center bottom;
  position: relative;
}
section#about .aboutBox::after {
  content: '';
  display: table;
  clear: both;
}
section#about .aboutBox p.aboutUs {
  line-height: 1.6;
  font-size: 24px;
  font-style: italic;
  text-align: justify;
  background-color: rgba(255,250,2,0.7);
  padding: 30px;
  width: 50%;
  margin: 0;
}
section#about .aboutBox .links {
  float: right;
  position: absolute;
  padding: 20px;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#about .aboutBox .links a {
  float: right;
  width: 250px;
}
section#about .aboutBox .links a:last-child {
  margin-top: 25%;
}
footer {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  height: 150px;
  background: #151515;
}
html {
  height: 100%;
  box-sizing: border-box;
}
::selection {
  background-color: #151515;
  color: #fffa02;
}
* {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
  font-family: 'Menco', sans-serif;
  background-color: #fff;
  font-size: 16px;
}
body .container {
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
body .container::after {
  content: '';
  display: table;
  clear: both;
}
body .container.narrow {
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
body .container.narrow::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 1200px) {
  body .container.narrow {
    width: auto;
    max-width: 840px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  body .container.narrow::after {
    content: '';
    display: table;
    clear: both;
  }
}
@media only screen and (max-width: 900px) {
  body .container.narrow {
    width: auto;
    max-width: 540px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  body .container.narrow::after {
    content: '';
    display: table;
    clear: both;
  }
}
@media only screen and (max-width: 600px) {
  body .container.narrow {
    width: 100%;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1200px) {
  body .container {
    width: auto;
    max-width: 840px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  body .container::after {
    content: '';
    display: table;
    clear: both;
  }
}
@media only screen and (max-width: 900px) {
  body .container {
    width: auto;
    max-width: 540px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  body .container::after {
    content: '';
    display: table;
    clear: both;
  }
}
@media only screen and (max-width: 600px) {
  body .container {
    width: 100%;
    padding: 0 20px;
  }
}
body .center {
  text-align: center;
  display: flex;
  justify-content: center;
}
body a {
  text-decoration: none;
  color: inherit;
  color: inherit;
}
body a.btn {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  border-radius: 40px;
  display: inline-block;
  padding: 0 40px;
  background-color: #fffa02;
  color: #151515;
  -webkit-box-shadow: 0 2px 0 0 #a9a614;
  box-shadow: 0 2px 0 0 #a9a614;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 900px) {
  body a.btn {
    font-size: 16px;
  }
}
body a.btn:hover {
  background-color: #151515;
  color: #fffa02;
}
body header {
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}
body header nav {
  position: relative;
  height: 100px;
}
body header nav .leftSide {
  position: absolute;
  left: 0;
  top: 0;
}
body header nav .leftSide .logo {
  height: 100px;
  display: flex;
  align-items: center;
}
body header nav .leftSide .logo img {
  height: 70px;
}
body header nav .rightSide {
  position: absolute;
  right: 0;
  top: 0;
}
body header nav .rightSide .links {
  line-height: 100px;
}
body header nav .rightSide .links li {
  display: inline-block;
  float: left;
  list-style: none;
  margin-left: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
body section h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 900px) {
  body section h2 {
    margin-top: 24px;
  }
}
