transition()
	-webkit-transition all 300ms ease-in-out
	-moz-transition all 300ms ease-in-out
	-ms-transition all 300ms ease-in-out
	-o-transition all 300ms ease-in-out
	transition all 300ms ease-in-out		
link(special = true)
	text-decoration none
	color inherit
	if special
		color inherit
	else
		&:hover
			text-decoration underline
btn(bg=false)
	font-size 21px
	+below('m')
		font-size 16px
	font-weight 700
	text-align center
	line-height 48px
	border-radius 40px
	display inline-block
	padding 0 40px
	if bg
		background-color yellow
	color black
	-webkit-box-shadow 0 2px 0 0 rgba(169, 166, 20,1)
	box-shadow 0 2px 0 0 rgba(169, 166, 20,1)
	text-decoration none
	text-transform uppercase
	&:hover
		background-color black
		color yellow
helpers()
	.container
		center(1140px)
		&.narrow
			center(960px)
			+below('l')
				center(840px)
			+below('m')
				center(540px)
			+below('s')
				width 100%
				padding 0 20px
		position relative
		+below('l')
			center(840px)
		+below('m')
			center(540px)
		+below('s')
			width 100%
			padding 0 20px
	.center
		text-align center
		display flex
		justify-content center
ddlkBg()
	background url('../images/lightBg.jpg')
	background-position right top
	background-repeat-x no-repeat
undraggable()
	user-drag none
	user-select none
	-moz-user-select none
	-webkit-user-drag none
	-webkit-user-select none
	-ms-user-select none
scaleIt(value=1.1)
	-moz-transform scale(value)
	-webkit-transform scale(value)
	-o-transform scale(value)
	-ms-transform scale(value)
	transform scale(value)
addShadow()
	-webkit-box-shadow 0 1px 2px 0 rgba(0,0,0,0.15)
	box-shadow 0 1px 2px 0 rgba(0,0,0,0.15)
top-margin(mrg = 100px, page = false)
	margin-top mrg
	+below('m')
		margin-top (mrg / 100) * 30
	if page
		+below('m')
			margin-top 70px

top-padding(tpd = 100px)
	padding-top tpd
	+below('m')
		padding-top (tpd / 100) * 30
settings()
	rupture.scale = 	0 	  400px    600px   900px   1200px    1800px
	rupture.scale-names = 'xs' 		's' 	'm' 	'l' 	 'xl' 	   'hd'