header()
	width 100%
	position fixed
	z-index 9
	top 0
	background-color white
	addShadow()
	navHeight = 100px
	nav
		position relative
		height navHeight
		.leftSide
			position absolute
			left 0
			top 0
			.logo
				height navHeight
				display flex
				align-items center
				img
					height (navHeight / 100) * 70
		.rightSide
			position absolute
			right 0
			top 0
			.links
				line-height navHeight
				li
					display inline-block
					float left
					list-style none
					margin-left 40px
					font-weight bold
					text-transform uppercase
					font-size 16px
section#featured
	height 100vh
	overflow hidden
	background-image url('img/bg_enh.jpg')
	background-position center
	background-repeat-x no-repeat
	.turtle
		height 25vh
		margin-top 25vh
		margin-bottom 25vh
		flex-direction column
		display flex
		justify-content center
		align-items center
		h1
			font-size 48px
			margin-top 20px
			
		img
			width 50%
	.troopLinks
		a.troop
			column(1/2)
			display block
			height 100px
			line-height 100px
			border-radius 50px
			position relative
			span
				display inline-block
				background-color yellow
				padding-left 140px
				padding-right 50px
				border-radius 50px
				max-height 100px
				line-height 110px
				text-align center
				width 450px
				color black
				position relative
			&:hover
				span
					background-color black
					color yellow
			font-size 64px
			color yellow
			link(true)
			img
				max-height 150px
				position absolute
				left -25px
				top -25px
				z-index 2
			&:last-child
				span
					display inline-block
					padding-right 140px
					padding-left 50px
					float right
				img
					left auto
					right -25px
section#about
	.aboutBox
		background-image url('img/about.jpg')
		center(1140px)
		background-position center bottom
		position relative
		p.aboutUs
			line-height 1.6
			font-size 24px
			font-style italic
			text-align justify
			background-color rgba(255,250,2,0.7)
			padding 30px
			//float right
			width 50%
			margin 0
		.links
			float right
			position absolute
			padding 20px
			bottom 0
			right 0
			width 50%
			height 100%
			display flex
			justify-content center
			align-items center
			flex-direction column
			a
				float right
				width 250px
				&:last-child
					margin-top 25%
					


footer
	width 100%
	position absolute
	right 0
	bottom 0
	left 0
	color white
	height 150px
	background black